# Data Cleaning for NBA Game Results Prediction

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("draft_results1819.csv", header=0)
df.dropna()
df.head()

         Visitor/Neutral  VPTS           Home/Neutral  HPTS
0     Philadelphia 76ers    87         Boston Celtics   105
1  Oklahoma City Thunder   100  Golden State Warriors   108
2        Milwaukee Bucks   113      Charlotte Hornets   112
3          Brooklyn Nets   100        Detroit Pistons   103
4      Memphis Grizzlies    83         Indiana Pacers   111

In [3]:
df_dict = {'WTeam': [], 'LTeam': [], 'WLOC':[]}
df_output = pd.DataFrame(data = df_dict)
df_output.head()

Empty DataFrame
Columns: [WTeam, LTeam, WLOC]
Index: []

In [4]:
for i in range(len(df)):
    if df.loc[i, 'VPTS'] > df.loc[i, 'HPTS']:
        df_output.loc[i] = [df.loc[i, 'Visitor/Neutral'], df.loc[i, 'Home/Neutral'], 'V']
    else:
        df_output.loc[i] = [df.loc[i, 'Home/Neutral'], df.loc[i, 'Visitor/Neutral'], 'H']
df_output.head()

                   WTeam                  LTeam WLOC
0         Boston Celtics     Philadelphia 76ers    H
1  Golden State Warriors  Oklahoma City Thunder    H
2        Milwaukee Bucks      Charlotte Hornets    V
3        Detroit Pistons          Brooklyn Nets    H
4         Indiana Pacers      Memphis Grizzlies    H

In [5]:
df_output.to_csv('/data/18-19_result.csv', index=False)

In [6]:
df = pd.read_csv("draft_results1920.csv", header = 0)
df.head()

                Visitor  VPTS                  Home  HPTS
0  New Orleans Pelicans   122       Toronto Raptors   130
1    Los Angeles Lakers   102  Los Angeles Clippers   112
2         Chicago Bulls   125     Charlotte Hornets   126
3       Detroit Pistons   119        Indiana Pacers   110
4   Cleveland Cavaliers    85         Orlando Magic    94

In [7]:
df_dict = {'WTeam': []}
df_output = pd.DataFrame(data = df_dict)
df_output.head()

Empty DataFrame
Columns: [WTeam]
Index: []

In [8]:
for i in range(len(df)):
    if df.loc[i, 'VPTS'] > df.loc[i, 'HPTS']:
        df_output.loc[i] = [df.loc[i, 'Visitor']]
    else:
        df_output.loc[i] = [df.loc[i, 'Home']]
df_output.head()

                  WTeam
0       Toronto Raptors
1  Los Angeles Clippers
2     Charlotte Hornets
3       Detroit Pistons
4         Orlando Magic

In [9]:
df_output.to_csv('/data/19-20_result.csv', index=False)